html {
  box-sizing: border-box;
  overflow: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	animation: gradient 15s ease infinite;
	background: linear-gradient(-45deg, #d83b0c, #ffa856, #fa633d);
	background-size: 400% 400%;
	height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
@keyframes gradient {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}
.quotes {
  top: 20px;
  width: 100%;
  height: 50px;
  background-color: rgba(255, 2, 2, 0.3);
  color: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.master-box {
  background-color: rgb(233, 232, 232);
  /* border: 1px solid black; */
  border-radius:  10px;
  left: 50%;
  height: 500px;
  max-height: 100%;
  max-width: 80%;
  padding: 10px 15px;
  /* opacity: 0.8; */
  position: fixed;
  transform: translate(-50%, -50%);
  top: 58%;
  width: 1700px;
  z-index: 10;
  box-shadow: 0 10px 500px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
}
.user-bar{
  background-color: #fff;
  border-radius:  10px;
  left: 50%;
  height: 150px;
  max-height: 80%;
  max-width: 80%;
  padding: 25px 30px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 22%;
  width: 615px;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
/* .user-bar {
  background-color: #e1e1e1;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 150px;
  justify-content: flex-start;
  margin: 0 auto;
  margin-top: 240px;
  max-width: 90%;
  padding: 10px 25px;
  width: 600px;
  box-shadow: 0 10px 100px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.1);
} */
/* .avatar {
  background-color: #bbb;
  border-radius: 50%;
  height: 75px;
  object-fit: cover;
  margin: 10px 15px 10px 0px;
  width: 75px;
} */
.avatar {
  position: relative;
  width: 80px; 
  height: 46.19px;
  margin: 10px 25px 10px 0px;
  background-image: url(https://lh3.googleusercontent.com/proxy/rdZyIaBX6jhFeMMB6A15G2LnZnBh_uGOxAZ7KLw4La-JPr60_phsiFiWL65Q7ZGAnQJvcmckBIKOlKe3_48vYj6TZzhlSI9xADpYqTLAfeNKlCSQICSLA_LoNuvOHTN-QiIbblwzFwqdWL4agPG2TA);
  background-size: auto 92.3760px;
  background-position: center;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 56.57px;
  height: 56.57px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 11.72px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 80.0000px;
  height: 46.188021535170066px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-23.0940px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-23.0940px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-23.0940px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -28.2843px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -28.2843px;
}

.hexBottom:after {
  background-position: center bottom;
}

.avatar:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 80.0000px;
  height: 46.1880px;
  z-index: 2;
  background: inherit;
}
.user {
  /* border: 2px solid #bbb; */
  display: flex;
  flex-basis: 85%;
  flex-direction: column;
  height: 90%;
  justify-content: space-evenly;
}
.user-info {
  /* border: 2px solid #bbb; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.username {
  font-family: 'Tourney', cursive;
  font-size: 1.5em;
  font-weight: 900;
  margin: 0px;
}
.user-level {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  margin: 0px;
}
.master-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 60px;
}
.goals {
  border: 2px solid rgba(0,0,0,0.05);
  border-radius: 10px;
  height: 350px;
  text-align: center;
  width: 300px;
  box-shadow: 0 10px 50px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
  padding: 10px 25px;
  color: #07374a;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
}

.daily-task {
  background-color: pink;
}

.each-goal {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 5px;
  outline: none;
  border: none;
}

.exp-bar .bar .progress-line {
  position: relative;
  height: 20px;
  width: 100%;
  background: #f0f0f0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
  position: absolute;
  background: #25b79f;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line .exp{
  width: 80%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -14px;
  width: 0;
  border: 7px solid transparent;
}

.battle-theme {
  bottom: 0px;
  position: fixed;
  display: none;
  justify-content: center;
  width: 50%;
  left: 50%;
  height: 30px;
  background-color: #d83b0c;
  transform: translate(-50%, 0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  background: rgba(22,28,83,1);
  color: #fff; 
}

/* .daily {
  background-color: #99ceff;
  background-color: #ffa856;
}

.short {
  background-color: #c3c1f1;
  background-color: #ff820d;
}

.long {
  background-color: #b3e9cb;
  background-color: #fa633d;
} */
/* For devices with screen smaller than 1024px */
@media only screen and (max-width: 550px) {
  .quotes, .battle-theme {
    display: none;
  }
}

@media only screen and (max-width: 950px) {
  .master-body {
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: auto;
    /* padding-top: 100px; */
  }
  .goals {
    width: 80%;
  }
}

@media only screen and (max-width: 1023px) {
  .goals {
    box-shadow: none;
    margin-bottom: 10px;
    height: 350px;
  }
  .master-box {
    box-shadow: none;
    padding-top: 50px;
  }
  .user-bar {
    height: 135px;
    box-shadow: none;
    top: 25%;
  }
}

/* @media only screen and (max-height: 750px) {
  .user-bar {
    height: 135px;
    box-shadow: none;
    top: 22%;
  }
} */