html {
  box-sizing: border-box;
  overflow: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	animation: gradient 15s ease infinite;
	background: linear-gradient(-45deg, #d83b0c, #ffa856, #fa633d);
	background-size: 400% 400%;
	height: 100vh;
}
@keyframes gradient {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}

.master-box {
  background-color: white;
  /* border: 1px solid black; */
  border-radius:  10px;
  left: 50%;
  height: 800px;
  max-height: 80%;
  max-width: 80%;
  padding: 10px 15px;
  /* opacity: 0.8; */
  transform: translate(-50%, -50%);
  top: 50%;
  width: 1700px;
  position: absolute; 
  z-index: 1;
  font-family: 'Roboto', sans-serif;
}

.burger input[type="checkbox"]{
  width: 42px;
  height: 42px;
  position: absolute;
  top: 15px;
  left: 14px;
  display: block;
  z-index: 4;
  opacity: 0;
  overflow: hidden;
}

.burgerlines{
  width: 40px;
  height: 32px;
  position: absolute;
  top: 25px;
  left: 20px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burgerlines .lines{
  display: block;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
}

.burger{
  position: relative;
}

.menu-items{
  padding-top: 65px;
  transform: translate(-110%);
  transition: transform 0.5s ease-in-out;
  padding-left: 28px;
  background: #fff;
  margin-left: -8px;
  margin-top: -10px;
  color: #232323;
  padding-bottom: 1rem;
  max-width: 400px;
  width: 90%;
  height: 115vh;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  z-index: 2;
  position: absolute;
}

.burger input[type="checkbox"]:checked ~ .menu-items{
  display: block;
  transform: translate(0%);
  background: #fff;
}

.burger input[type="checkbox"]:checked ~ .burgerlines .lines{
  background: #232323;
}

.burgerlines .line1{
 transform-origin: 0% 0%;
 transition: transform 0.3s ease-in-out;    
}

.burgerlines .line3{ 
 transform-origin: 0% 100%;
 transition: transform 0.3s ease-in-out;  
}

.burger input[type="checkbox"]:checked ~ .burgerlines .line1{
  transform: rotate(45deg);
}

.burger input[type="checkbox"]:checked ~ .burgerlines .line2{
  display: none;
}

.burger input[type="checkbox"]:checked ~ .burgerlines .line3{
  transform: rotate(-45deg);
}

.skills {
  background: #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.skills-bar {
  margin-top: 10px;
  padding: 2px 0px 5px 25px;
  /* border: 1px solid #bbb; */
  border-radius: 10px;
  background-color: rgba(156, 156, 156, 0.4);;
  width: 90%;
}

.skills-bar .bar {
  margin: 20px 0;
}

.skills-bar .bar .info span {
  font-size: 1rem;
  font-weight: 500;
}

.skills-bar .bar .info {
  margin-bottom: 8px;
  color: #07374a;
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 90%;
  background: #f8f7f7;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
  position: absolute;
  background: #74188b;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.progress-line .strength {
  width: 80%;
}
.progress-line .vitality {
  width: 70%;
}
.progress-line .knowledge {
  width: 82%;
}
.progress-line .social {
  width: 62%;
}
.progress-line .willpower {
  width: 90%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -14px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: #f0f0f0;
  border-top-color: #07374a;
}

.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #f0f0f0;
  font-size: 12px;
  font-weight: 700;
  background: #07374a;
  padding: 1px 8px;
  border-radius: 3px;
}

.progress-line .strength::after {
  content: "80%";
}
.progress-line .vitality::after {
  content: "70%";
}
.progress-line .knowledge::after {
  content: "82%";
}
.progress-line .social::after {
  content: "62%";
}
.progress-line .willpower::after {
  content: "90%";
}

.total-goals {
  margin-top: 20px;
  /* padding: 2px 0px 5px 0px; */
  /* border: 1px solid #bbb; */
  border-radius: 10px;
	background: linear-gradient(-45deg, #055b7e, #42a3c9);
  width: 90%;
  height: 100px;
  color: #fff;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;

}

.login-streak {
  margin-top: 20px;
  /* padding: 2px 0px 5px 25px; */
  /* border: 1px solid #bbb; */
  border-radius: 10px;
	background: linear-gradient(-45deg, #ffa856, #fa633d);
  width: 90%;
  height: 100px;
  color: #07374a;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.star-drop {
  height: 50%;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}